aiohttp==3.7.4.post0
allure-pytest==2.9.43
allure-python-commons==2.9.43
appdirs==1.4.4
arrow==1.1.0
async-timeout==3.0.1
attrs==20.3.0
boto3==1.10.32
botocore==1.13.50
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
dateparser==1.0.0
distlib==0.3.2
docutils==0.15.2
elasticsearch==7.10.1
esrally==2.1.0
filelock==3.0.12
google-auth==1.22.1
google-crc32c==1.1.2
google-resumable-media==1.1.0
idna==3.1
ijson==2.6.1
importlib-metadata==3.10.0
iniconfig==1.1.1
Jinja2==2.11.3
jmespath==0.10.0
jsonschema==3.1.1
MarkupSafe==1.1.1
moment==0.12.1
multidict==5.1.0
packaging==20.9
pluggy==0.13.1
psutil==5.8.0
py==1.10.0
py-cpuinfo==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.4
python-dateutil==2.8.1
pytz==2021.1
regex==2021.4.4
rsa==4.7.2
s3transfer==0.2.1
selenium==3.141.0
six==1.15.0
tabulate==0.8.7
thespian==3.10.1
times==0.7
toml==0.10.2
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.25.11
virtualenv==20.4.7
yappi==1.2.3
yarl==1.6.3
zipp==3.4.1
